/* github dark readme styles */
.readme h1 {
  padding-bottom: .3em;
  border-bottom: 1px solid var(--border-color);
}

.readme h2 {
  padding-bottom: .3em;
  border-bottom: 1px solid var(--border-color);
}

.readme li+li {
  margin-top: 0.25em;
}

.readme table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.readme table th,.readme table td {
  padding: 6px 13px;
  border: 1px solid var(--table-border-color);
}

.readme table td>:last-child {
  margin-bottom: 0;
}

.readme table tr:nth-child(2n) {
  background-color: #2d333b;
}
