last 2 Chrome major versions and > 0.5%
last 2 Edge major versions and > 0.5%
last 2 Firefox major versions and > 0.5%
last 2 iOS major versions and > 0.5%
last 2 Safari major versions and > 0.5%
>1%
