:root {
  /* stylelint-disable-next-line value-keyword-case */
  --system-fonts: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  --mono-fonts: ui-monospace,sfmono-regular,sf mono,menlo,consolas,liberation mono,monospace;
  --mono-fonts-v2: consolas, conaco, 'Andale Mono', monospace;
  --color: #adbac7;
  --bg: #22272e;
  --link-color: #539bf5;
  --description-color: #768390;
  --table-head-bg: #373e47;
  --table-border-color: #444c56;
  --code-color: var(--color);
  --code-bg: rgba(99 110 123/40%);
  --source-code-color: var(--color);
  --source-code-bg: #2d333b;
  --source-border-color: var(--table-border-color);
  --full-source-code-bg: var(--bg);
  --global-name-color: #dcbdfb;
  --signature-color: var(--color);
  --signature-type-color: #89a7cd;
  --signature-attr-color: #8ddb8c;
  --param-name-color: #8ddb8c;
  --param-type-color: #98a4b0;
  --param-default-color: #e5534b;
  --param-attributes-color: var(--param-type-color);
}

.body {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  font-family: var(--system-fonts);
  line-height: 1.5;
  font-size: 16px;
  word-wrap: break-word;
  background-color: var(--bg);
  color: var(--color);
}

/* layout */
.main-container {
  display: flex;
  flex-wrap: wrap;
}

/* main */
.main {
  flex: 0 0 auto;
  width: 78%;
  overflow: hidden;
  padding: 0 32px;
}

/* nav */
.nav {
  flex: 0 0 auto;
  width: 12%;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav h3 {
  margin-top: 40px;
  margin-bottom: 0;
}

.nav li {
  margin-top: 6px;
  font-size: 18px;
  font-family: var(--mono-fonts);
}

a {
    color: var(--link-color);
    text-decoration: none
}

a:hover {
    text-decoration: underline
}


/* footer */
footer {
  padding: 0 32px;
  flex: 0 0 auto;
  width: 100%;
  margin-top: 50px;
  font-style: italic;
  font-size: 90%;

}

h1 {
    padding-bottom: .3em;
    font-size: 2em;
}

h2 {
    padding-bottom: .3em;
    font-size: 1.5em;
}

/* stylelint-disable-next-line no-descending-specificity */
h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

h5 {
  font-size: 0.95em;
  letter-spacing: 1px;
  margin: 8px 0 3px;
}

h6 {
  font-size: .85em;
  letter-spacing: 1px;
  margin: 6px 0 3px;
  font-style: italic;
}

.subsection-title {
  margin-top: 40px;
  font-size: 26px;
  text-decoration: underline;
}

h5.subsection-title {
  margin: 8px 0 3px;
  font-size: 0.95em;
  text-decoration: none;
}

h1.name,
h2.name,
h3.name,
h4.name,
h5.name,
h6.name {
  margin-top: 70px;
  margin-bottom: 4px;
  font-size: 18px;
  color: var(--global-name-color);
}

.name, .signature {
  font-family: var(--mono-fonts-v2)
}

/* Parameters & Parameters in tables styling */
:where(.params, .props) .name {
  color: var(--param-name-color);
}

:where(.params, .props) .type .param-type {
  color: var(--param-type-color);
}

:where(.params, .props) .attributes {
  color: var(--param-attributes-color);
}

:where(.params, .props) .default {
  color: var(--param-default-color);
}

.subsection-title + .name {
  margin-top: 30px;
}

.name + h5,
.description + h5{
  display: inline-flex;
}

.name + h5 + ul,
.description + h5 + ul {
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.description h2,
.description h3,
.description h4 {
  color: var(--description-color);
  font-weight: 500;
  margin-top: 4px;
  margin-bottom: 4px;
}

.description p {
  margin-bottom: 4px;
}

.description blockquote {
  margin: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
tt, code, kbd, samp, .param-type {
  font-family: var(--mono-fonts)
}

pre {
  margin: 0;
}

tt,
.param-desc > p,
dl:not(.details) dd .param-type,
.name + h5 + ul .param-type,
.description + h5 + ul .param-type,
:where(h1,h2,h3,h4,h5,h6,p,p>strong,li) > :where(code) {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: var(--code-bg);
  color: var(--code-color);
  border-radius: 6px;
}

.signature {
  color: var(--signature-color);
}

.signature-attributes {
  font-size: 60%;
  color: var(--signature-attr-color);
  font-style: italic;
  font-weight: lighter;
}

.type-signature {
  color: var(--signature-type-color);
}

.param-desc > p {
  display: inline;
}

/* image */
article img {
  max-width: 100%;
  height: auto;
}

/* other */
.class-description {
  font-size: 130%;
  line-height: 140%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.class-description:empty {
  margin: 0;
}

.variation {
  display: none;
}

.important
{
  font-weight: bold;
  color: #e5534b;
}

.yes-def {
  text-indent: -1000px;
}

.code-caption {
  font-style: italic;
  font-size: 107%;
  margin: 0;
}

.disabled {
  color: #454545;
}

/* details */
.details {
  display: flex;
  margin: 10px 0;
  flex-wrap: wrap;
  align-items: baseline;
}


.details dt {
  flex-basis: 12%;
}

.details dd {
  margin: 0;
  flex-basis: 88%;
}

/* stylelint-disable-next-line no-descending-specificity */
.details ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl:not(.details) {
  display: flex;
  margin: 0;
}

dl:not(.details) dd {
  margin: 0;
  margin-left: 12px;
}

.details :where(.tag-source, .tag-see, .tag-deprecated, .dummy, .tag-overrides, .tag-default, .implements) {
  font-family: var(--mono-fonts);
  font-size: 90%;
}

/* table */
table.params,
table.props {
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
  display: block;
  overflow: auto;
  font-size: 90%;
}

table.params td,
table.params th,
table.props td,
table.props th {
  border: 1px solid var(--table-border-color);
  margin: 0;
  text-align: left;
  vertical-align: top;
  padding: 4px 6px;
  display: table-cell;
}

table.params thead tr,
table.props thead tr {
  background-color: var(--table-head-bg);
  font-weight: bold;
}

.params td.description > p:first-child,
.props td.description > p:first-child {
  margin-top: 0;
  padding-top: 0;
}

.params td.description > p:last-child,
.props td.description > p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* source code */
.source.linenums {
  font-size: 12px;
  border: 1px solid var(--source-border-color);
  overflow-x: auto;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--source-code-color);
  background-color: var(--full-source-code-bg);
}

pre.prettyprint:not(.linenums) {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  color: var(--source-code-color);
  background-color: var(--source-code-bg);
  border-radius: 6px;
  margin-bottom: 16px;
}

/* table of contents */
.toc {
  background: var(--code-bg);
  padding: 12px;
  padding-right: 30px;
  padding-top: 4px;
  margin-top: 22px;
  border-radius: 6px;
  position: fixed;
}

.toc h4 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.toc-nav .toc-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.toc-nav .toc-list .toc-list-item {
  font-size: 16px;
}

.toc-nav .toc-list .toc-list-item .is-active-link {
  font-size: 16px;
  color: var(--color);
}

@media (width <= 1300px) {
  .main {
    width: 100%;
  }

  .toc {
    display: none;
  }
}
