.hljs {
  --jsdoc-hl-comment__color: #6e7781;
  --jsdoc-hl-constant__color: #0550ae;
  --jsdoc-hl-entity__color: #8250df;
  --jsdoc-hl-storage-modifier-import__color: #24292f;
  --jsdoc-hl-entity-tag__color: #116329;
  --jsdoc-hl-keyword__color: #cf222e;
  --jsdoc-hl-string__color: #0a3069;
  --jsdoc-hl-variable__color: #953800;
  --jsdoc-hl-markup-heading__color: #0550ae;
  --jsdoc-hl-markup-list__color: #3b2300;
  --jsdoc-hl-markup-italic__color: #24292f;
  --jsdoc-hl-markup-bold__color: #24292f;
  --jsdoc-hl-markup-inserted__color: #116329;
  --jsdoc-hl-markup-inserted__bg-color: #dafbe1;
  --jsdoc-hl-markup-deleted__color: #82071e;
  --jsdoc-hl-markup-deleted__bg-color: #ffebe9;
  --jsdoc-hl-ln-numbers__color: #6e7781;

  word-wrap: anywhere;
  white-space: pre;
}

@media (prefers-color-scheme: dark) {
  .hljs {
    --jsdoc-hl-comment__color: #768390;
    --jsdoc-hl-constant__color: #6cb6ff;
    --jsdoc-hl-entity__color: #dcbdfb;
    --jsdoc-hl-storage-modifier-import__color: #adbac7;
    --jsdoc-hl-entity-tag__color: #8ddb8c;
    --jsdoc-hl-keyword__color: #f47067;
    --jsdoc-hl-string__color: #96d0ff;
    --jsdoc-hl-variable__color: #f69d50;
    --jsdoc-hl-markup-heading__color: #316dca;
    --jsdoc-hl-markup-list__color: #eac55f;
    --jsdoc-hl-markup-italic__color: #adbac7;
    --jsdoc-hl-markup-bold__color: #adbac7;
    --jsdoc-hl-markup-inserted__color: #b4f1b4;
    --jsdoc-hl-markup-inserted__bg-color: #1b4721;
    --jsdoc-hl-markup-deleted__color: #ffd8d3;
    --jsdoc-hl-markup-deleted__bg-color: #78191b;
    --jsdoc-hl-ln-numbers__color: #768390;
  }
}

/* keyword */
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: var(--jsdoc-hl-keyword__color);
}

.hljs-type {
  color: var(--jsdoc-hl-storage-modifier-import__color);
}

.hljs-title.class_,
.hljs-title.class_.inherited__ {
  color: var(--jsdoc-hl-variable__color);
}

/* entity */
.hljs-title,
.hljs-title.function_ {
  color: var(--jsdoc-hl-entity__color);
}

/* constant */
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: var(--jsdoc-hl-constant__color);
}

/* string */
.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  color: var(--jsdoc-hl-string__color);
}

/* variable */
.hljs-built_in,
.hljs-symbol {
  color: var(--jsdoc-hl-variable__color);
}

/* comment */
.hljs-comment,
.hljs-code,
.hljs-formula {
  color: var(--jsdoc-hl-comment__color);
}

/* entity-tag */
.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: var(--jsdoc-hl-entity-tag__color);
}

/* storage-modifier-import */
.hljs-subst {
  color: var(--jsdoc-hl-storage-modifier-import__color);
}

/* markup-heading */
.hljs-section {
  font-weight: bold;
  color: var(--jsdoc-hl-section__color);
}

/* markup-list */
.hljs-bullet {
  color: var(--jsdoc-hl-bullet__color);
}

/* markup-italic */
.hljs-emphasis {
  font-style: italic;
  color: var(--jsdoc-hl-emphasis__color);
}

/* markup-bold */
.hljs-strong {
  font-weight: bold;
  color: var(--jsdoc-hl-strong__color);
}

/* markup-inserted */
.hljs-addition {
  color: var(--jsdoc-hl-addition__color);
  background-color: var(--jsdoc-hl-addition__bg-color);
}

/* markup-deleted */
.hljs-deletion {
  color: var(--jsdoc-hl-deletion__color);
  background-color: var(--jsdoc-hl-deletion__bg-color);
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  color: var(--jsdoc-hl-constant__color);
}

/* line numbers */
.hljs-ln-numbers {
  padding-right: 2rem !important;
  padding-left: 0.5rem !important;
  text-align: right;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  color: var(--jsdoc-hl-ln-numbers__color);
}
